<!-- Experience -->
<div ng-controller="ExperienceCtrl">
  <div id="experienceBlock" class="light-container full-screen-size">
    <div class="container-fluid">
  
      <!-- Header -->
      <div class="row">
        <div class="col-sm-12">
          <h2>{{'EXPERIENCE' | translate}}</h2>
        </div>
      </div>
      <!-- End Header -->

      <br/>

      <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 timeline-cell-dash"></div>
      </div>
    
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 timeline-cell">
          <div class="row vertical-center slide-left-anim" ng-repeat="job in jobs">
            <div class="col-xs-2 col-sm-2 job-timeline">
              <p><span class="glyphicon glyphicon-calendar"></span> {{job.beginDate | date : job.dateFormat}}<span ng-if="(job.endDate !== undefined)"> - {{job.endDate | date : job.dateFormat}}</span></p>
              <div class="timeline-tick"></div>
            </div>
            <div class="col-xs-10 col-sm-10 job-cell">
              <div class="panel-group company-cell">
                <div class="panel panel-default">
                  <div class="panel-heading project-panel-heading">
                    <div class="panel-title">
                      <h5><strong>{{job.title | translate}}</strong></h5>
                      <strong>{{job.company}}</strong>
                      <span ng-if="(job.exCompanyName !== undefined)"> ({{'FORMERLY' | translate}} {{job.exCompanyName}})</span>
                      <span ng-if="(job.contractingCompany !== undefined)">, {{'CONTRACTOR_AT' | translate}} <strong>{{job.contractingCompany}}</strong></span>
                      <br/>
                      <i class="glyphicon glyphicon-map-marker"></i> {{job.city}}, {{job.country | translate}}
                      <br/>
                      <br/>
                      <button class="btn btn-primary btn-round btn-xs details-btn collapsed" data-toggle="collapse" data-target="#details-{{$index}}">
                        <i class="material-icons"></i> {{'DETAILS' | translate}}
                      </button>
                    </div>
                  </div>
                  <div id="details-{{$index}}" class="panel-collapse collapse details-cell">
                    <ul class="list-group">

                      <!-- Company -->
                      <li class="list-group-item">
                        <strong>{{'COMPANY' | translate}}:</strong> {{job.companyDescription | translate}}
                        <br/>
                        <a href="{{job.companyWebsite}}" target="_blank" ng-if="(job.companyWebsite !== undefined)">
                          <span class="label label-primary"><i class="fa fa-laptop"></i> {{'WEBSITE' | translate}}</span>
                        </a>
                      </li>
                      <!-- Company -->
                      
                      <!-- Projects -->
                      <li class="list-group-item">
                        <div class="row">
                        
                          <!-- Projects Header -->
                          <div class="col-sm-3">
                            <div class="header header-primary">
                              <ul class="nav nav-pills nav-stacked">
                                <li>
                                  <strong>
                                    <ng-pluralize count="job.projects.length"
                                                  when="{ '0': '{{&quot;PROJECT&quot; | translate}}', '1': '{{&quot;PROJECT&quot; | translate}}', 'other': '{{&quot;PROJECTS&quot; | translate}}' }">
                                    </ng-pluralize>:
                                  </strong>
                                </li>
                                <li ng-class="{'active': $index === 0}" ng-repeat="project in job.projects">
                                  <a href="#project-{{job.id}}-{{project.id}}" data-toggle="tab">{{project.title | translate}}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Projects Header -->
                          
                          <!-- Project Details -->
                          <div class="col-sm-9">
                            <div class="tab-content">
                              <div class="tab-pane fade in" ng-class="{'active': $index === 0}" ng-repeat="project in job.projects" id="project-{{job.id}}-{{project.id}}">
                                <ul class="list-group">
                                                                
                                  <!-- Objective -->
                                  <li class="list-group-item"><strong>{{'OBJECTIVE' | translate}}:</strong> {{project.objective | translate}}</li>
                                  <!-- End Objective -->

                                  <!-- Carousel -->
                                  <li class="list-group-item" ng-if="project.portfolio !== undefined">
                                    <a href="" data-toggle="modal" data-target="#portfolioModal-{{job.id}}-{{project.id}}">
                                      <div class="row">
                                        <div class="col-xs-12 col-sm-12 portfolio-thumbnail-col">
                                          <img ng-srcset="{{project.portfolio[0].image}}" alt="{{project.portfolio[0].image}}"
                                           class="img-responsive portfolio-images" ng-click="changeActiveSlide(0)"/>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-6 col-sm-6 portfolio-thumbnail-col">
                                          <img ng-srcset="{{project.portfolio[1].image}}" alt="{{project.portfolio[1].image}}"
                                           class="img-responsive portfolio-images" ng-click="changeActiveSlide(1)"/>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 portfolio-thumbnail-col portfolio-thumbnail-col-last vertical-center">
                                          <img ng-srcset="{{project.portfolio[2].image}}" alt="{{project.portfolio[2].image}}"
                                           class="img-responsive portfolio-images" ng-click="changeActiveSlide(2)"/>
                                           <h2 class="portfolio-length">+ {{project.portfolio.length - 3}}</h2>
                                        </div>
                                      </div>
                                    </a>

                                    <!-- Portfolio modal -->
                                    <div id="portfolioModal-{{job.id}}-{{project.id}}" class="modal fade modal-portfolio" role="dialog">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><i class="material-icons">close</i></button>
                                          </div>
                                          <div class="modal-body">
                                            <div uib-carousel active="activeSlide">
                                              <div uib-slide ng-repeat="slide in project.portfolio track by slide.id" index="slide.id">
                                                <img ng-srcset="{{slide.image}}" alt="{{slide.image}}" class="img-responsive"/>
                                                <div class="carousel-caption">
                                                  <h4>{{job.company}} - {{project.title | translate}}</h4>
                                       <!--           <p>{{slide.description}}</p> -->
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- End Portfolio modal -->
                                    
                                  </li>
                                  <!-- End Carousel -->

                                  <!-- Achievements -->
                                  <li class="list-group-item">
                                    <p><strong>{{'ACHIEVEMENTS' | translate}}:</strong></p>
                                    <div ng-repeat="achievement in project.achievements">
                                      <p><i class="fa fa-check-square-o text-success"></i> {{achievement | translate}}</p>
                                    </div>
                                  </li>
                                  <!-- End Achievements -->
                                  
                                </ul>
                              </div>
                            </div>
                          </div>
                          <!-- End Project Details -->
                          
                        </div>
                      </li>
                      <!-- End Projects -->
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 timeline-cell-dash"></div>
      </div>
  
    </div>
  </div>
</div>
<!-- End Experience -->
