<!-- Home -->
<div ng-controller="HomeCtrl">
  <div id="homeBlock" class="light-container vertical-center full-screen-size">
    <div class="container-fluid">

    <div class="row">
      <div class="col-sm-3 text-center profile-picture-row">
        <img src="assets/img/profile_picture.png" class="img-thumbnail profile-picture" alt="Cedric Poirot">
      </div>
      
      <div class="col-sm-8">
        <h3>{{'HELLO' | translate}},</h3>
        <div id="summaryBlock" class="text-justify">
          <p ng-bind-html="renderHtml( 'SUMMARY_INTRO' | translate )"></p>
          <p ng-bind-html="renderHtml( 'SUMMARY_EDUCATION' | translate )"></p>
          <p ng-bind-html="renderHtml( 'SUMMARY_EXPERIENCE' | translate )"></p>
          <!-- <p ng-bind-html="renderHtml( 'SUMMARY_GREATINGS' | translate )"></p> -->
        </div>
        <a href="assets/resources/Cedric_Poirot_Resume.pdf" class="btn btn-simple btn-primary pull-right" download>
          <i class="material-icons">file_download</i> {{'DOWNLOAD_RESUME' | translate}}
        </a>
      </div>
      <div class="col-sm-1"></div>

    </div>

    </div>
  </div>
</div>
<!-- End Home -->
