<!-- Skills -->
<div ng-controller="SkillsCtrl">
  <div id="skillsBlock" class="skill-container background-image full-screen-size">
    <div class="container-fluid">

    <!-- Header -->
      <div class="row">
        <div class="col-sm-12">
          <h2>{{'SKILLS' | translate}}</h2>
        </div>
      </div>
      <!-- End Header -->

      <br/>

      <div class="row">

        <!-- Project Management -->
        <div class="col-sm-6">
          <div class="panel panel-custom-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> {{'PROJECT_MANAGEMENT' | translate}}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                
                 <!-- Certification -->
                  <dl>
                    <dt>{{'CERTIFICATION' | translate}}</dt>
                    <dd ng-repeat="certification in skills.projectManagement.certifications">
                      <div class="col-sm-12">
                        <img ng-src="assets/img/{{certification.icon}}.png" alt="{{certification.icon}}" width="30px" height="30px"> <label>{{certification.name}}</label>
                      </div>
                    </dd>
                  </dl>
                 <!-- End Certification -->
                 
                </div>
                <div class="col-sm-6">
                
                 <!-- Tools -->
                  <dl>
                    <dt>{{'TOOLS' | translate}}</dt>
                    <dd ng-repeat="skill in skills.projectManagement.tools">
                      <div class="progress skill-progress">
                        <div class="progress-bar-wrapper width-growth-anim">
                          <div class="progress-bar" role="progressbar" style="width:{{skill.width}}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{skill.name}}">
                            <i class="{{skill.iconClass}}"></i> {{skill.name}}
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                 <!-- End Tools -->
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Project Management -->

        <!-- Agile -->
        <div class="col-sm-6">
          <div class="panel panel-custom-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-refresh"></span> Agile</div>
            <div class="panel-body">
            
              <div class="row">
                <div class="col-sm-6">
                
                 <!-- Certification -->
                  <dl>
                    <dt>{{'CERTIFICATION' | translate}}</dt>
                    <dd ng-repeat="certification in skills.agile.certifications">
                      <div class="col-sm-12">
                        <img ng-src="assets/img/{{certification.icon}}.png" alt="{{certification.icon}}" width="30px" height="30px"> <label>{{certification.name}}</label>
                      </div>
                    </dd>
                  </dl>
                 <!-- End Certification -->
                 
                </div>
                <div class="col-sm-6">
                
                 <!-- Tools -->
                  <dl>
                    <dt>{{'TOOLS' | translate}}</dt>
                    <dd>
                      <div class="progress skill-progress">
                        <div class="progress-bar-wrapper width-growth-anim">
                          <div class="progress-bar" role="progressbar" style="width:90%" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Scrum">
                            <i class="devicons devicons-scrum"></i> Scrum
                          </div>
                        </div>
                      </div>
                    </dd>
                    <dd ng-repeat="skill in skills.agile.tools">
                      <div class="progress skill-progress">
                        <div class="progress-bar-wrapper width-growth-anim">
                          <div class="progress-bar" role="progressbar" style="width:{{skill.width}}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{skill.name}}">
                            <i class="{{skill.iconClass}}"></i> {{skill.name}}
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                 <!-- End Tools -->
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Agile -->

      </div>

      <!-- Programming Languages -->
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-custom-primary">
            <div class="panel-heading"><span class="glyphicon glyphicon-console"></span> {{'PROGRAMMING_LANGUAGES' | translate}}</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6">
                
                 <!-- Backend -->
                  <dl>
                    <dt>{{'BACKEND' | translate}}</dt>
                    <dd ng-repeat="skill in skills.programming.backend">
                      <div class="progress skill-progress">
                        <div class="progress-bar-wrapper width-growth-anim">
                          <div class="progress-bar" role="progressbar" style="width:{{skill.width}}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{skill.name}}">
                            <i class="{{skill.iconClass}}"></i> {{skill.name}}
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                 <!-- End Backend -->
                  
                 <!-- Database -->
                  <dl>
                    <dt>{{'DATABASE' | translate}}</dt>
                    <dd ng-repeat="skill in skills.programming.database">
                      <div class="progress skill-progress">
                        <div class="progress-bar-wrapper width-growth-anim">
                          <div class="progress-bar" role="progressbar" style="width:{{skill.width}}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{skill.name}}">
                            <i class="{{skill.iconClass}}"></i> {{skill.name}}
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                 <!-- End Database -->
                 
                </div>
                
                <div class="col-sm-6">
                
                 <!-- Frontend -->
                  <dl>
                    <dt>{{'FRONTEND' | translate}}</dt>
                    <dd ng-repeat="skill in skills.programming.frontend">
                      <div class="progress skill-progress">
                        <div class="progress-bar-wrapper width-growth-anim">
                          <div class="progress-bar" role="progressbar" style="width:{{skill.width}}" data-toggle="tooltip" data-placement="bottom" data-container="body" title="{{skill.name}}">
                            <i class="{{skill.iconClass}}"></i> {{skill.name}}
                          </div>
                        </div>
                      </div>
                    </dd>
                  </dl>
                 <!-- End Frontend -->
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Programming Languages -->

      <script type="text/ng-template" id="scrumCertifsPopover.html">
        <div>
          <div class="row" ng-repeat="certification in scrum.certifications">
            <div class="col-sm-12">
              <img ng-src="assets/img/{{certification.icon}}.png" alt="{{certification.icon}}" width="30px" height="30px"> <label>{{certification.name}}</label>
            </div>
          </div>
        </div>
      </script>
    
    </div>
  </div>
</div>
<!-- End Skills -->
